body {
  font-family: 'Arial', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #F1E5D1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #2A629A;
}

.container {
  text-align: center;
}

h1, h2 {
  font-size: 2rem;
  color: #160b05;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.balance {
  font-size: 3rem;
  color: #3b44a2;
}


.option-button {
  font-size: 1rem;
  margin-top: 20px;
  width: 100%;
}

button {
  font-size: 1rem;
  margin-top: 20px;
}

hr {
  margin-top: 20px;
  border: 1px solid #ddd;
}


/* Styles for the main content container */
.main-content-container {
  background-color: #989da5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}


/* Footer styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A629A;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}


.balance {
  font-size: 2rem; 
}

.transaction-history-container {
  padding: 20px;
  border-radius: 10px;
}

.pb-custom {
  padding-bottom: 20px; 
}